.about-me{
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    width: 100vw;
    height: 75vh;
    /* background-color: rgb(221, 220, 220); */
}

.about-me__container{
    width: 90%;
    /* min-width: var(--main-min-width);  */
    margin: 0 auto;
    align-content: center;
}

.about-me__titulo{
    font-size: 1.5rem;
    font-weight: 700;
    margin-bottom: 1rem;
    text-align: center;
}



.about-me__parrafo{
    font-weight: 400;
    font-size: 1.1rem;
    line-height: 1.3em;
    text-align: left;
}