.formacion-academica{
    width:100%;
    height: auto;
    /* margin-top: .5rem; */
    padding-top: 10%;
    padding-bottom: 10%;
}


.formacion-titulo{
    font-size: 1.5rem;
    font-weight: 700;
    text-align: center;
}

.formacion__container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    padding-top: 10%;
    padding-bottom: 10%;
    gap: 1rem;
}

.formacion-box{
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    background-color: var(--card-background);
    color: var(--card-font-color);
    border-radius: 8px;
    border: 1px solid rgb(47, 115, 217);
    width: 80%;
    height: auto;
    padding: 5% 2% 5% 2%;
}

.formacion-title{
    font-weight: 700;
    font-size: .9rem;
    margin-bottom: 5%;
    color: var(--card-font-color);
    text-align: left;
}

.academic-icons{
    font-size: 3rem;  
    color: rgb(47, 115, 217);
    margin-bottom: 5px;
}

@media only screen and (min-width: 768px){

    .formacion__container{
        flex-direction: row;
        align-items: flex-start;
        gap: 2rem;
    }
    .formacion-title{
        font-size: 1.2rem;
    }

    .academic-icons{
        font-size: 4.5rem;
    }

    .formacion-box{
        width: 45%;
        height: 250px;
    }

    .formacion-titulo{
        font-size: 2rem;
    }
}


@media only screen and (min-width: 768px){
    .formacion-academica{
        padding-top: 5%;
        padding-bottom: 2%;
    }

    .formacion-title{
        padding-bottom: 0;
    }
}