header{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    /* width: var(--main-width); */
    height: 80px;
}

#name{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

#name p{
    margin-left: .5em;
    align-self: center;
}

.fa-code{
    color: var(--violeta);
}

#nav{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-items: flex-end;
    /* padding-top: 6%; */
    /* margin-top:auto 1em; */
}

.nav-bar.show{
    position:absolute;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    margin-top: .5em;
    height: 3vh;
    top: 9%;
    color: var(--main-font-color);
    font-weight: 700;
}

.nav-bar{
    display: none;
}

.hamburger-menu{
    position: absolute;
    border: 0;
    background-color: transparent;
    top: 3.6%;
}

.fa-bars{
    font-size: 1.8rem;
    color: var(--violeta);
}


.nav-items{
    margin: .2em 0 .2em 0;
    font-weight: 400;
    font-size: 1rem;
}


@media only screen and (min-width: 768px){
    #nav{
        align-items: center;
    }
    .nav-bar{
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        align-items: center;
        height: 3vh;
    }

    .nav-items{
        margin-left: .6em;
        font-weight: 400;
        font-size: .8rem;
        text-transform: uppercase;
    }

    .nav-items:hover{
        cursor: pointer;
        border-bottom: 2px solid var(--violeta);
        padding-bottom:2%;
    }

    .hamburger-menu{
        display: none;
    }
}

@media only screen and (min-width: 1024px){
    header{
        font-size: 1.3rem;
        font-weight: 700;
    }
    .nav-items{
        font-size: 1rem;
    }
    .fa-code{
        font-size: 1.3rem;
    }
}

