.proyectos{
    /* display: flex;
    flex-direction: row;
    justify-content: space-between; */
    width: 100%;
    height: 65vh;
    background-color: rgba(29, 29, 29, 0.988);
    margin-top: 2rem; 
    /* padding: 1rem; */
}

.carousel{
    position: relative;
    width: 100%;
    height: 100%;
    /* margin: 0 auto;  */
    /* align-items: flex-end;
    align-self: flex-end; */
    margin-right: 2rem; 
}


.slide{
    position: absolute;
    inset: 0;
    opacity: 0;
}

.active{
    opacity: 1;
}

.images{
    position: relative;
    display: block;
    width: 100%;
    height:100%;
    object-fit: cover;
    object-position: center;
    /* margin: 0 auto; */
}

.carousel .overlay{
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(#262738d0,rgba(255, 255, 255, 0.148),rgba(29, 29, 29, 0.338));
    padding-top: 6%;
}



.buttons{
    position: absolute;
    width: 50px;
    height: 50px;
    background: rgba(47, 46, 46, 0.242);
    color: whitesmoke;
    font-size: 2em;
    top: 45%;
    border: none;
    border-radius: 5px;
}
.fa-angle-right, .fa-angle-left{
    font-size: .8em;
    color: whitesmoke;
}

.buttons:hover{
    background: rgba(47, 46, 46, 0.39);
    cursor: pointer;
}

#next{
    right: .6rem;
} 

#prev{
    left: .6rem;
} 



.project__titulo{
    color:whitesmoke;
    top: 20%;
    font-size: 2em;
    font-weight: 700;
    margin-bottom: .4em;
}

.project__descripcion{
    color:rgb(222, 221, 221);
    font-size: 1.5rem;
    font-weight: 400;
}


@media only screen and (min-width: 1024px){
    .proyectos{
        height: 95vh;
    }

    .project__titulo{
        font-size: 3rem;
    }

    .project__descripcion{
        font-size: 1.8rem;
    }
}