:root{
    --main-width: 90%;
    --main-min-width: 400px;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body{
    background-color: rgb(238, 236, 236);
    font-family: 'Open Sans', sans-serif;
}

/* main{
    display: flex;
    flex-direction: column;
    align-items: center;
} */

.container{
    padding-left: 6%;
    padding-right: 6%;
}